
<main class="contenedor-form">
    <form class="row g-3 container-sm" [formGroup]="registrarse" (ngSubmit)="submitForm($event)">
        <div class="col-md-6">
            <label for="username" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="dni" formControlName="username" required>
            <div *ngIf="registrarse.get('username')?.invalid && registrarse.get('username')?.touched" class="error-message">
                <span *ngIf="registrarse.get('username')?.hasError('required')">El usuario es requerido.</span>
            </div>
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" required>
            <div *ngIf="registrarse.get('email')?.invalid && registrarse.get('email')?.touched" class="error-message">
                <span *ngIf="registrarse.get('email')?.hasError('required')">El correo electrónico es requerido.</span>
                <span *ngIf="registrarse.get('email')?.hasError('email')">El correo electrónico no es válido.</span>
            </div>
        </div>
        <div class="col-md-6">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" formControlName="password" required>
            <div *ngIf="registrarse.get('password')?.invalid && registrarse.get('password')?.touched" class="error-message">
                <span *ngIf="registrarse.get('password')?.hasError('required')">La contraseña es requerida.</span>
                <span *ngIf="registrarse.get('password')?.hasError('pattern')">La contraseña debe tener al menos 8 caracteres alfanuméricos, con al menos una letra minúscula, una letra mayúscula y un dígito.</span>
            </div>
        </div>
        <div class="col-md-6">
            <label for="passcon" class="form-label">Confirmar contraseña</label>
            <input type="password" class="form-control" id="passcon" formControlName="passcon" required>
            <div *ngIf="registrarse.get('passcon')?.invalid && registrarse.get('passcon')?.touched" class="error-message">
                <span *ngIf="registrarse.get('passcon')?.hasError('required')">La contraseña es requerida.</span>
                <span *ngIf="registrarse.get('passcon')?.errors?.['matchPassword']">Las contraseñas no coinciden.</span>
            </div> 
        </div>
        <!-- 
        <div class="col-12">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="direccion" placeholder="1234 Main St" formControlName="direccion" required>
            <div *ngIf="registrarse.get('direccion')?.invalid && registrarse.get('direccion')?.touched" class="error-message">
                <span *ngIf="registrarse.get('direccion')?.hasError('required')">La dirección es requerida.</span>
                <span *ngIf="registrarse.get('direccion')?.hasError('pattern')">La dirección debe tener al menos 3 caracteres, con al menos un dígito.</span>
            </div>
        </div>
        <div class="col-md-6">
            <label for="localidad" class="form-label">Localidad</label>
            <input type="text" class="form-control" id="localidad" formControlName="localidad" required>
            <div *ngIf="registrarse.get('localidad')?.invalid && registrarse.get('localidad')?.touched" class="error-message">
                <span *ngIf="registrarse.get('localidad')?.hasError('required')">La localidad es requerida.</span>
                <span *ngIf="registrarse.get('localidad')?.hasError('pattern')">La localidad solo puede contener letras.</span>
            </div>
        </div>
        <div class="col-md-4">
            <label for="provincia" class="form-label">Provincia</label>
            <select id="provincia" class="form-select" formControlName="provincia" required>
                <option selected>Seleccionar</option>
                <option value="1">Buenos Aires</option>
                <option value="2">Catamarca</option>
                <option value="3">Chaco</option>
                <option value="4">Chubut</option>
                <option value="5">Córdoba</option>
                <option value="6">Corrientes</option>
                <option value="7">Entre Rios</option>
                <option value="8">Formosa</option>
                <option value="9">Jujuy</option>
                <option value="10">La Pampa</option>
                <option value="11">La Rioja</option>
                <option value="12">Mendoza</option>
                <option value="13">Misiones</option>
                <option value="14">Neuquén</option>
                <option value="15">Río Negro</option>
                <option value="16">Salta</option>
                <option value="17">San Juan</option>
                <option value="18">San Luis</option>
                <option value="19">Santa Cruz</option>
                <option value="20">Santa Fe</option>
                <option value="21">Santiago del Estero</option>
                <option value="22">Tierra del Fuego</option>
                <option value="23">Tucumán</option>
            </select>
            <div *ngIf="registrarse.get('provincia')?.invalid && registrarse.get('provincia')?.touched" class="error-message">
                <span *ngIf="registrarse.get('provincia')?.hasError('required')">La provincia es requerida.</span>
                <span *ngIf="registrarse.get('provincia')?.hasError('pattern')">La provincia solo puede contener letras.</span>
            </div>
        </div>
         -->
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </div>
    </form>
</main>
