<footer>

  <div class="footer">
    <div class="footerInfo">
      <div class="colum1">
        <h1>Mas información</h1>

        <p>ASPRA está compuesto por voluntarios que comparten el respeto por la vida de los animales y los
          consideran
          sus iguales
          siendo que estos tienen capacidad para sentir placer, alegría, dolor y sufrimiento.</p>
      </div>

      <div class="colum3">
        <h1>Menú</h1>
        <br>
        <a routerLink="/listaAdopcion">ADOPTÁ</a>
        <br>
        <a routerLink="/reportar">REPORTÁ</a>
        <br>
        <a routerLink="/veterinarios">VETERINARIOS</a>
        <br>
        <a routerLink="/refugios">REFUGIOS</a>
        <br>
        <a routerLink="/donaciones">DONACIONES</a>
        <br>
        <a routerLink="/contacto">CONTACTO</a>
        <br>
        <a routerLink="/nosotros">NOSOTROS</a>

      </div>
      <div class="colum2">

        <h1>Seguí nuestras redes</h1>


        <div class="redesIcons">
          <a class="fa-brands fa-facebook fa-2xl" href="https://www.facebook.com/" target="_blank"></a>
        </div>

        <div class="redesIcons">
          <a class="fa-brands fa-instagram fa-2xl" href="https://www.instagram.com/" target="_blank"></a>
        </div>
        <div class="redesIcons">
          <a class="fa-brands fa-whatsapp fa-2xl" href="https://www.whatsapp.com/" target="_blank"></a>
        </div>

        <div class="redesIcons">
          <a class="fa-brands fa-youtube fa-2xl" href="https://www.youtube.com/" target="_blank"></a>
        </div>

      </div>


    </div>

  </div>
  <!--COMIENZA SUSCRIBIRSE-->
  <section class="columnaMenu">


    <div class="lineaFooter">
      <div class="footer1">
        <div class="copyright">
          ASPRA - Asociación Protectora de Animales © 2024 | Todos los Derechos Reservados
        </div>
      </div>
    </div>
    <div class="go-top-container">
      <div class="go-top-button">
        <i class="fas fa-chevron-up"></i>
      </div>
    </div>
