<section class="Adopciona">
  <div class="container text-center">
    <div class="row">
      <div class="col align-self-start">
        <div class="elementor-widget-container">
          <div class="boton">
            <a routerLink="/listaAdopcion">
              <button class="btonAdoptar">
                Quiero Adoptar!
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="col align-self-center">
        <h1 id="titulo">
          No compres ¡Adopta!
        </h1>
        <h6 id="textoAdopcion">Al adoptar o recoger a un animal de la calle, estarás contribuyendo a reducir la
          sobrepoblación canina,
          ya que si
          compras una mascota le estarás quitando la oportunidad a un perrito de la calle que necesita del amparo
          de
          un dueño.</h6>
      </div>
    </div>
  </div>
</section>

<section class="salvaVidas">
  <div class="container text-center">
    <div class="row2 align-items-start">
      <div class="col">
        <h1 id="tituloSalva">
          SALVÁ VIDAS
        </h1>
        <h3 id="Presentacion4">
          Si presencia el abuso a un animal, que por su propia condición son indefensos y dependientes,
          denúncialo.
          No permitas que esa situación continúe sin hacer algo por él.
        </h3>
      </div>
      <div class="col">
        <a routerLink="/reportar">
          <button class="bton4">
            DENUNCIÁ AHORA
          </button>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="Adops">
  <h1 id="adopsTitulo">-- Ellos, ya fueron adoptados.. --</h1>
  <div class="contenedorAdops">
    <div class="box">
      <img src="/assets/img/adoptado1.png" alt="">
      <p class="textoImagenAdops">Lila y Lolo - Adoptados hace 2 años</p>
    </div>
    <div class="box">
      <img src="/assets/img/adoptado2.png" alt="">
      <p class="textoImagenAdops">Patán - Adoptado hace 1 año</p>
    </div>
    <div class="box">
      <img src="/assets/img/adoptado3.png" alt="">
      <p class="textoImagenAdops">Rocky - Adoptado hace 2 años</p>
    </div>
  </div>
</section>

<section class="especialistas">
  <h1 id="specialists">
    ESPECIALISTAS
  </h1>
  <h3 id="Presentacion2">
    Contamos con un grupo de veterinarios de primer nivel, para garantizar que la mascota en adopcion,
    vaya a su nuevo hogar en un estado de salud optimo. Entrá y conocelos
  </h3>


  <div class="botonVete">
    <a routerLink="/veterinarios">
      <button class="btonVeterinarios">
        Nuestros Veterinarios
      </button>
    </a>
  </div>
</section>


<div class="container-bar">
  <input type="checkbox" id="btn-social">
  <label for="btn-social" class="fa-solid fa-play"></label>
  <div class="icon-social">
    <a href="https://drive.google.com/file/d/1HgaEMj79ihxj5DUGWultuoHs7P9yu47J/view" target="_blank"
      class="fa-brands fa-android">
      <span id="title">DESCARGA NUESTRA APP</span>
    </a>
  </div>
</div>
